.map {
    height: 250px;  /* The height is 400 pixels */
    width: 400px;  /* The width is half the width of the web page */
}

.hidden {
    display: none;
}

#instructions {
    font-size: 16pt;

}

.btn-save {
    font-size: 24px;
}

#sign-in-page {
    background-color: #152850;
}

#sign-in-page img {
    border: 0;
}

#sign-in-page label {
    color: white;
}

#sign-in-page input{
    width: 100%;
}

/* makes the table a fixed size and scrollable after 
    but it is grey and ugly */
/* .table-div {
    height: 350px;
    overflow-y: auto;
} */

/*
    Quill RTE CSS
*/
#editor {
    width: 100%;
    height: 100%;
}
.ql-editor {
    font-size: 20px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="12px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  content: 'Small';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  font-size: 12px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="30px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="30px"]::before {
  content: 'Large';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="30px"]::before {
  font-size: 30px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="40px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="40px"]::before {
  content: 'Huge';
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="40px"]::before {
  font-size: 40px;
}

.quill-img {
    width: 100%;
}

#editor-container.row {
    min-width: 100%;
}